// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

a
  color #00838F
  text-decoration none

.application
  font-weight normal
  font-family "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif

.application.theme--light
  background-color #fff

.page-enter-active, .page-leave-active
  transition opacity .5s

.page-enter, .page-leave-active
  opacity 0

.dark-back
  background-color rgba(0,0,0,.5)
  margin 0 -1rem

.dark-background
  background-color rgba(0,0,0,.5)

.active-disabled
  display none

.title-text
  font-family 'Telefon Black',Sans-Serif !important
  color white !important
  -webkit-text-stroke 2px black !important
  -webkit-font-smoothing antialiased !important

.rotate
  -webkit-transition: 1s ease all
  -moz-transition: 1s ease all
  -ms-transition: 1s ease all
  -o-transition: 1s ease all
  transition: 1s ease all
.rotate:hover
  -webkit-transform: rotate(360deg)
  -moz-transform: rotate(360deg)
  -ms-transform: rotate(360deg)
  -o-transform: rotate(360deg)
  transform: rotate(360deg)